.DS_Store
*/**/.DS_Store
node_modules/
components
node_modules
bower_components
books
documentation/html
.idea/*.xml
.idea/dictionaries/eyuva_nirali.xml
.idea/epub.js.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml